﻿@model Core.Models.configuration.Configuration

@{
    ViewBag.Title = "Delete";
}

@{
	ViewBag._Active = "Home_Delete";
	ViewBag._Panel = "Home";
}


<div class="box box-success">
	<div class="box-header with-border">
        <h3 class="box-title">¿Esta seguro que desea eliminar este elemento ?</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<div class="row">
			<table id="tabla" class="table table-bordered table-hover">
				<tbody>
																					<tr>
								<th colspan="2">
									@Html.DisplayFor(model => model.Category.Name)
								</th>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Name)
								</th>

								<td>
									@Html.DisplayFor(model => model.Name)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.Status)
								</th>

								<td>
									@Html.DisplayFor(model => model.Status)
								</td>
							</tr>
                            @if (Model.GuidId != null)
                            {
                                <tr>
                                    <th>
                                        Etapa del cultivo
                                    </th>

                                    <td>
                                        @ViewBag.StageCultivation
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.GuidId)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.GuidId)
                                        </td>
                                    </tr>
                            }
										<tr>
								<th>
									@Html.DisplayNameFor(model => model.IntId)
								</th>

								<td>
									@Html.DisplayFor(model => model.IntId)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedAt)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedAt)
								</td>
							</tr>

																					<tr>
								<th>
									@Html.DisplayNameFor(model => model.DeletedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.DeletedAt)
								</td>
							</tr>

											</tbody>
			</table>

		</div>
	</div>
</div>

		@using (Html.BeginForm()) {
			@Html.AntiForgeryToken()

			<div class="form-actions no-color">
                @if (ViewBag.Configtype == 3 && ViewBag.StageCultivationDelete == false)
                {
                    <input type="submit" value="Delete" class="btn btn-danger" disabled />
                }
                else
                {
                    <input type="submit" value="Delete" class="btn btn-danger" />
                }
				@Html.ActionLink("Regresar", "Index", new { Configtype = ViewBag.Configtype }, new { @class = "btn btn-default" })
			</div>
		}
</div>
