﻿@model Core.Models.configuration.Configuration

@{
    ViewBag.Title = "Details";
}


@{
    ViewBag._Active = "Home_Details";
    ViewBag._Panel = "Home";
}




<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Detalle</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <tbody>

                        <tr>
                            <th>
                                @Html.DisplayFor(model => model.Category.Name)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Name)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Estado
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Status)
                            </td>
                        </tr>
                        @if (Model.GuidId != null)
                        {
                            <tr>
                                <th>
                                    Etapa del cultivo
                                </th>

                                <td>
                                    @ViewBag.StageCultivation
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.GuidId)
                                </th>

                                <td>
                                    @Html.DisplayFor(model => model.GuidId)
                                </td>
                            </tr>
                        }
                        <tr>
                            <th>
                                Creado
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.CreatedAt)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Actualizado
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.UpdatedAt)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id, Category = Model.CategoriesId }, new { @class = "btn btn-success" })
    @Html.ActionLink("Regresar", "Index", new { Category  = Model.CategoriesId }, new { @class = "btn btn-default" })
</p>
