﻿@model Core.Models.configuration.Configuration

@{
    ViewBag.Title = "Create";
}

@{
    ViewBag._Active = "Home_Create";
    ViewBag._Panel = "Home";
}

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">EDITAR EMAIL</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" id="configurationId" value="@Model.Id" />
                        <div class="form-group">
                            <label class="control-label col-md-2">Categoría Correo</label>
                            <div class="col-md-10">
                                @Html.DropDownList("CategoriesId", null, "--Seleccionar--", htmlAttributes: new { @class = "form-control", style = "text-transform:uppercase" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Correo</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Descripción</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Estado</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <select name="Status" class="form-control">
                                        <option value="true">Activo</option>
                                        <option value="false">In Activo</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" id="btnCrear" data-action="2" class="btn btn-success">Editar</button>
                                <input type="submit" value="Guardar Cambios" id="btn_createEmail" class="btn btn-success" style="display:none;" />
                                @Html.ActionLink("Regresar", "ListEmail", null, new { @class = "btn btn-danger" })
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/validateEmail.js"></script>
}