﻿@model Core.Models.configuration.Configuration

@{
    ViewBag.Title = "EDITAR";
}
@{
    ViewBag._Active = "Home_Edit";
    ViewBag._Panel = "Home";
}





<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">EDICIÓN DE  @ViewBag.Name</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Descripción</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Estado</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <select name="Status" class="form-control">
                                        <option value="true" @if (Model.Status == true) { Write("Selected"); }>Activo</option>
                                        <option value="false" @if (Model.Status== false) { Write("Selected"); }>Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        @if (@ViewBag.Guid == new Guid("E7A81E6F-99ED-4DA6-8667-2A78AB2F28E4"))
                        {
                            <div class="form-group">
                                <label class="control-label col-md-2">Etapa del cultivo</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("GuidId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.GuidId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }

                    <div>
                        @Html.ActionLink("Regresar", "Index", new { Category = Model.CategoriesId }, new { @class = "btn btn-default" })
                    </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
