﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<Core.Models.User.User>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Lista de Usuarios para Activar y Desactivar</h3>
    </div>
    <div class="box-body">

        @using (Html.BeginForm("Index", "Users", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="search" class="form-control"  name="FilterUserByDocument" id="FilterUserByDocument" placeholder="Ingrese el número de documento">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="btnCon">
                                <span class="glyphicon glyphicon-search" aria-hidden="true">
                                </span> Buscar
                            </button>
                        </span>
                    </div>
                </div>           
            </div>
        
        }
    </div>
</div>



<div class="box box-danger">
    <div class="box-header with-border">
        <p class="input-group-addon alert "><b>LISTADO DE EMPLEADOS</b> </p>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Document)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Names)
                            </th>
                            <th>
                                Campañas
                            </th>
                            <th>
                                Estado
                            </th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            var status = item.Status == false ? "Inactivo" : "Activo";
                            var tag = item.Status == false ? "Activar" : "Desactivar";
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Document)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Names)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Campaign)
                                </td>
                                <td>
                                    @status
                                </td>

                                <td>
                                    @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })*@
                                    @*@Html.ActionLink("Detalle", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })*@
                                    @Html.ActionLink(tag, "ActivatteOrDeactivate", "Users", new { id = item.Id }, new { @class = "btn btn-xs btn-info" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "listUsers-grid" }))*@
                @Html.PagedListPager(Model, page => Url.Action("Index", "Users", new { page, search = Request.QueryString["FilterUserByDocument"] }))
            </div>
        </div>
    </div>
</div>

