﻿
@{
    ViewBag.Title = "Index";
}


    <div class="box box-danger">
        <div class="box-header with-border text-center">
            <h2 class="box-title">Activación y Desactivación de Usuarios</h2>
        </div>       
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <a href="~/Formato/ACTUALIZACION/FORMATO_DesbloqueoUsuarios.xlsx" download class="btn btn-primary">Descargar Formato</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">¡Proceso para la Activar y Desactivar los Aplicativos de forma masiva..!</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">


                <div class="form-horizontal">
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-info  alert-dismissible" role="alert">
                            @TempData["Message"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }

                    <div class="form-group">

                        <div class="col-md-6">
                            <input type="file" id="fileUsuario" class="form-control" />
                        </div>

                        <div class="col-md-6" style="margin-top:20px">
                            <input type="button" id="cargarActivacionUsuarios" value="Cargar" class="btn btn-success" />
                            <a href="@Url.Action("Index", "UserPasswords")" class="btn btn-dark">Regresar</a>

                        </div>



                    </div>



                </div>

                <div id='loading' style="display:none"><img src='~/Images/loader.gif' /><br />Un momento, por favor...</div>



            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/Scripts/app/cargarArchivo.js"></script>
}
