﻿@model ICollection<ClaroGrandesSuperficies.Viewmodel.EstadoTramitesVM>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}



<div class="box box-danger">
    <div class="box-header with-border">

        <p class="input-group-addon alert "><b>LISTADO DE USUARIOS CON APLICATIVOS @ViewBag.estado</b> </p>
        @Html.ActionLink("Regresar", "Index", "EstadoTramites", null, new { @class = "btn btn-xs btn-info" })
    </div>

    <div class="box-body">

        <div class="row">
            <div class="col-md-12">

                <table id="tabla" class="table table-bordered table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>
                                Documento
                            </th>
                            <th>
                                Nombre Completo
                            </th>
                            <th>
                                Aplicativo
                            </th>
                            <th>
                                Estado Trámite
                            </th>
                            <th>
                                Fecha Ultimo Bloqueo
                            </th>
                            <th>
                                Fecha Estado Trámite
                            </th>
                            <th>
                                Duración del Trámite
                            </th>
                            <th>
                                Observación
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Documento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreApp)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EstadoTramite)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaUltimoBloqueo)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaEstadoTramite)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DuracionTramite)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Observacion)

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

