﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ClaroGrandesSuperficies.Viewmodel.EstadoTramitesVM>
@*@model IPagedList<Core.Models.User.User>*@

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listado de Usuarios y trámite de los aplicativos que han sido bloqueados y desbloquedos</h3>
    </div>


    <div class="box-body">

        @using (Html.BeginForm("Index", "EstadoTramites", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-12">
                    <div style="align-items: center" class="row">
                        <div class="col-sm-12 col-md-4">
                            <label>Fecha Bloqueo</label>
                            <input type="date" class="col form-control" required name="fechaBloqueoApp" id="fechaBloqueoApp" />
                        </div>


                        <div class="btn-group col-sm-12 col-md-4" role="group" aria-label="Basic radio toggle button group" style="margin-top: auto; padding-bottom: 10px;">
                            <input type="radio" class="btn-check" name="estadoApp" id="btnradio1" value="false" checked>
                            <label class="btn btn-outline-primary" for="btnradio1">Bloqueados</label>

                            <input type="radio" class="btn-check" name="estadoApp" id="btnradio2" value="true">
                            <label class="btn btn-outline-primary" for="btnradio2">Desbloqueados</label>
                        </div>
                        <div class="col-sm-12 col-md-4" style="margin-top: auto; padding-bottom: 0px;">
                            <button class="btn btn-success center-block">Filtrar</button>
                        </div>
                    </div>

                </div>

            </div>

        }
    </div>
</div>




<div class="box box-danger">
    <div class="box-header with-border">
        <p class="input-group-addon alert "><b>LISTADO DE EMPLEADOS</b> </p>
    </div>
    <div class="box-body">


        <div class="row">
            <div class="col-md-12">
                <div class="row box-header with-border">

                    <a href="@Url.Action("EstadosAplicativos", "EstadoTramites", new { name= "SinEscalar" })" class="button lines-6">
                        <label style="cursor: pointer;"><b style="color: #ff0080;">Sin escalar:</b> @ViewBag.SinEscalar</label>&nbsp;&nbsp;&nbsp;
                    </a>
                    <a href="@Url.Action("EstadosAplicativos", "EstadoTramites", new { name= "EnTramite" })" class="button lines-6">
                        <label style="cursor: pointer;"><b style="color: #117a8b;">En trámite:</b> @ViewBag.EnTramite</label>&nbsp;&nbsp;&nbsp;
                    </a>
                    <a href="@Url.Action("EstadosAplicativos", "EstadoTramites", new { name= "Solucionado" })" class="button lines-6">
                        <label style="cursor: pointer;"><b style="color:#00a65a;">Solucionados:</b> @ViewBag.Solucionado</label>
                    </a>
                </div>
                <table id="tabla" class="table table-bordered table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>
                                Documento
                            </th>
                            <th>
                                Nombre Completo
                            </th>
                            <th>
                                Aplicativo
                            </th>
                            <th>
                                Estado Trámite
                            </th>
                            <th>
                                Fecha Ultimo Bloqueo
                            </th>
                            <th>
                                Fecha Estado Trámite
                            </th>
                            <th>
                                Duración del Trámite
                            </th>
                            <th>
                                Observación
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Documento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreApp)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EstadoTramite)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaUltimoBloqueo)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaEstadoTramite)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DuracionTramite)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Observacion)

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

                @Html.PagedListPager(Model, page => Url.Action("Index", "EstadoTramites", new { page, fechaBloqueoApp = ViewBag.fechaBloqueoApp }))

            </div>
        </div>
    </div>
</div>

