﻿
@{
    ViewBag.Title = "Index";
}


<div class="box box-danger">
    <div class="box-header with-border text-center">
        <h2 class="box-title">Cargue Masivo de Usuarios</h2>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">

                    <a href="~/Formato/CargueAppUsuario/Formato_Administracion_Usuarios.xlsx" download class="btn btn-primary">Descargar Formato</a>


                </div>
            </div>
        </div>
    </div>
</div>



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">¡Proceso para el cargue masivo de Usuarios con los respectivos Aplicativos que administrarán...!</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-info  alert-dismissible" role="alert">
                            @TempData["Message"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }

                    <div class="form-group">

                        <div class="col-md-6">
                            <input type="file" id="fileUsuario" class="form-control" />
                        </div>

                        <div class="col-md-6" style="margin-top:20px">
                            <input type="button" id="cargarUsuarios" value="Cargar" class="btn btn-success" />
                            <a href="@Url.Action("Index", "AsignacionAplicativos")" class="btn btn-dark">Regresar</a>
                        </div>

                    </div>
                </div>

                <div id='loading' style="display:none"><img src='~/Images/loader.gif' /><br />Un momento, por favor...</div>

            </div>
            

        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal" style="display:none" id="mostrarErrores">
                    <div class="form-group">
                        <a value="Descargar Errores" class="btn btn-warning" href="~/ErroresFormato/ErroresFormatoAplicativosUsuario.xlsx" download>Descargar Formato Errores </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/app/cargarArchivo.js"></script>
}
