﻿
@{
    ViewBag.Title = "Index";
}
@model  Core.Models.Security.AccountsViewModel


<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-info  alert-dismissible" role="alert">
                            @TempData["Message"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3 class="mb-0">Login: Usuario de Red</h3>
                                </div>
                                <div class="col-md-4">
                                    <img src="~/Content/images/dedo.gif" width="50" height="50" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            @using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <label for="uname1">Usuario</label>
                                    @Html.EditorFor(model => model.Accounts.UserName, new { htmlAttributes = new { @class = "form-control form-control-lg rounded-0" } })

                                </div>
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    @Html.PasswordFor(model => model.Accounts.Password, new { @class = "form-control form-control-lg rounded-0" })
                                </div>

                                <button type="submit" class="btn btn-primary btn-block" id="btnLogin">Login</button>

                                if (ViewBag.Error != null)
                                {
                                    <div class="alert alert-danger  alert-dismissible" role="alert">
                                        @ViewBag.Error
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                }


                            }
                        </div>
                        <!--/card-block-->
                    </div><br />
                    <!-- /form card login -->
                                      


                </div>

            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->

