﻿@model Core.Models.User.User

@{
    ViewBag.Title = "ResetearPassword";
    var estado = Model?.Status == false ? false : Model?.Status;
    var campana = Model?.Campaign == "" ? "" : Model?.Campaign;
    var documento = Model?.Document == "" ? "" : Model?.Document;
    var nombre = Model?.Names == "" ? "" : Model?.Names;
    var display = "";
    var nuevoEstado = "";

    if (estado == null && campana == null && documento == null && nombre == null)
    {
        display = "none";
    }

    if (estado == false)
    {
        nuevoEstado = "Inactivo";
    }
    else
    {
        nuevoEstado = "Activo";

    }
}




<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Resetear Contraseña de Usuario</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                @using (Html.BeginForm("ResetearPassword", "Accounts", FormMethod.Post))
                {
                    <div class=" col-md-3 form-group">
                        <label>Documento Usuario</label>
                        <div class="input-group">
                            @*<div class="input-group-addon">
                                <i class="fa fa-road"></i>
                            </div>*@
                            <input type="text" class="form-control" id="documento" name="documento" placeholder="Número de documento">
                            <input type="submit" class="btn btn-info" id="btnCon" value="consultar">

                        </div>
                    </div>
                 

                }

            </div>
        </div>
    </div>
</div>



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Usuario</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Documento
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Campaña
                            </th>

                            <th>Resetear Contraseña</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="display: @display">
                            <td>
                                @documento
                            </td>
                            <td>
                                @nombre
                            </td>
                            <td>
                                @nuevoEstado
                            </td>
                            <td>
                                @campana
                            </td>
                            <td>
                                <button id="@documento"  class="btn btn-info btn_enviar">Resetear</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {


    <script>

        var id = {};

        $('body').on('click', '.btn_enviar', function () {

            id = $(this).attr('id');


            if (id != null) {
                if (confirm("¿Está seguro de resetear la contraseña para este usuario?")) {


                    $.get('/Accounts/ResetAccount/', { id })
                        .done((result) => {
                            if (result.status == 201) {

                                swal({
                                    position: 'top-right',
                                    type: 'success',
                                    title: result.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                });

                            } else {

                                swal({
                                    position: 'top-right',
                                    type: 'error',
                                    title: result.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }

                        })
                        .fail((data, status) => {
                            _console("error interno ");
                            _console(data);
                            _console(status);
                            swal({
                                position: 'top-right',
                                type: 'error',
                                title: "error interno",
                                showConfirmButton: false,
                                timer: 1500
                            });

                        });
                }
            }
        });


        $('#documento').keypress(function (tecla) {
            // this.value = (this.value + '').replace(/[^0-9]/g, '');
            if (tecla.charCode < 48 || tecla.charCode > 57) {
                return false;
            }
        });

    </script>

}