﻿@model IEnumerable<ClaroGrandesSuperficies.Models.UserManagement.BlockedApplication>

@{
    ViewBag.Title = "GetTotalBlockedApplications";
}

@{
    ViewBag._Active = "GetTotalBlockedApplications";
    ViewBag._Panel = "Home";
}

    <style>

        thead {
            background-color: #222d32;
            color: white;
        }

        .container {
            margin: 50px auto;
            width: 100%;
        }

        th, td {
            padding: 50%;
            width: 10%;
        }

        thead tr th {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: #222d32;
        }

        .table {
            height: 50%;
            overflow: scroll;
        }
    </style>

 

    <div class="box box-danger">

        <div class="box-header with-border text-center">
            <h2 class="box-title">Listado del total de Aplicativos Bloqueados</h2>
        </div>
       
        <div class="box-body">
            <div class="row">
                <div class="container">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <a href="/UserPasswords/GetBlockedUsers/" class="btn btn-primary">Descargar Formato con listado de Usuarios bloqueados</a>
                                    <a href="/UserPasswords/GetHistoryUserPassword/" class="btn btn-info">Descargar Formato con histórico de Usuarios</a>
                                    <a href="@Url.Action("Index", "UserPasswords")" class="btn btn-dark">Regresar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Aplicativo
                                </th>
                                <th>
                                    Total Bloqueados
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

