﻿
@model ClaroGrandesSuperficies.Models.UserManagement.UserPassword

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";


}

<style>

    thead {
        background-color: #222d32;
        color: white;
    }

    .container {
        margin: 50px auto;
        width: 100%;
    }

    th, td {
        padding: 50%;
        width: 10%;
    }

    thead tr th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #222d32;
    }

    .table {
        height: 90%;
        overflow: scroll;
    }

 
</style>


<div class="box box-danger">

    <div class="box-header with-border text-center">
        <h2 class="box-title">Lista de Aplicativos con Usuario y Contraseña</h2>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="container">

                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Nombre del Aplicativo
                            </th>
                            <th>
                                Usuario
                            </th>
                            <th>
                                Clave
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Link
                            </th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>


                        @{
                            if (Model.UserRed != null || Model.PassRed != null | Model.StatusRed != null || Model.LinkRed != null)
                            {
                                <tr>
                                    <td>
                                        RED
                                    </td>
                                    <td class="textRed">
                                        @(Model.UserRed == null ? "N/A" : Model.UserRed)
                                    </td>
                                    <td class="textRed">

                                        @(Model.PassRed == null ? "N/A" : Model.PassRed)
                                    </td>
                                    <td class="textRed">
                                        @(Model.StatusRed == null ? "N/A" : @Model.StatusRed)
                                    </td>
                                    <td class="textRed">
                                        @(Model.LinkRed == null ? "N/A" : @Model.LinkRed)
                                    </td>
                                    <td>
                                        <button class="btn btn-info Red"><i class="fa fa-eye"></i></button>                                       
                                        <button class="btn btn-danger LockRed" value="@Model.Id"><i class="fa fa-lock"></i></button>
                                    </td>                                   
                                </tr>
                            }
                        }

                        @{
                            if (Model.Login != null || Model.StatusLogin != null)
                            {
                                <tr>
                                    <td>
                                        LOGIN
                                    </td>
                                    <td class="textLogin">
                                        @(Model.Login == null ? "N/A" : Model.Login)
                                    </td>
                                    <td class="textLogin">

                                        @(Model.StatusLogin == null ? "N/A" : Model.StatusLogin)
                                    </td>
                                    <td class="textLogin">
                                        N/A
                                    </td>
                                    <td class="textLogin">
                                        N/A
                                    </td>
                                    <td>
                                        <button class="btn btn-info Login"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockLogin" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>
                            }
                        }

                        @{
                            if (Model.Extension != null || Model.StatusExtension != null)
                            {
                                <tr>
                                    <td>
                                        EXTENSIÓN
                                    </td>
                                    <td class="textExtension">
                                        @(Model.Extension == null ? "N/A" : Model.Extension)
                                    </td>
                                    <td class="textExtension">
                                        @(Model.StatusExtension == null ? "N/A" : Model.StatusExtension)
                                    </td>
                                    <td class="textExtension">
                                        N/A
                                    </td>
                                    <td class="textExtension">
                                        N/A
                                    </td>
                                    <td>
                                        <button class="btn btn-info Extension"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockExtension" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>
                            }
                        }

                        @{
                            if (Model.UserSac != null || Model.PassSac != null | Model.StatusSac != null || Model.LinkSac != null)
                            {
                                <tr>
                                    <td>
                                        SAC
                                    </td>
                                    <td class="textSac">
                                        @(Model.UserSac == null ? "N/A" : Model.UserSac)
                                    </td>
                                    <td class="textSac">

                                        @(Model.PassSac == null ? "N/A" : Model.PassSac)
                                    </td>
                                    <td class="textSac">
                                        @(Model.StatusSac == null ? "N/A" : @Model.StatusSac)
                                    </td>
                                    <td class="textSac">
                                        @(Model.LinkSac == null ? "N/A" : @Model.LinkSac)
                                    </td>
                                    <td>
                                        <button class="btn btn-info Sac"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockSac" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>

                            }
                        }

                        @{
                            if (Model.UserAc != null || Model.PassAc != null | Model.StatusAc != null || Model.PassAc != null)
                            {
                                <tr>
                                    <td>
                                        AC
                                    </td>
                                    <td class="textAc">
                                        @(Model.UserAc == null ? "N/A" : Model.UserAc)
                                    </td>
                                    <td class="textAc">

                                        @(Model.PassAc == null ? "N/A" : Model.PassAc)
                                    </td>
                                    <td class="textAc">
                                        @(Model.StatusAc == null ? "N/A" : @Model.StatusAc)
                                    </td>
                                    <td class="textAc">
                                        @(Model.PassAc == null ? "N/A" : @Model.PassAc)
                                    </td>
                                    <td>
                                        <button class="btn btn-info Ac"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockAc" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>

                            }
                        }

                        @{
                            if (Model.UserPoliedro != null || Model.PassPoliedro != null | Model.StatusPoliedro != null || Model.LinkPoliedro != null)
                            {

                                <tr>
                                    <td>
                                        POLIEDRO
                                    </td>
                                    <td class="textPoliedro">
                                        @(Model.UserPoliedro == null ? "N/A" : Model.UserPoliedro)
                                    </td>
                                    <td class="textPoliedro">
                                        @(Model.PassPoliedro == null ? "N/A" : Model.PassPoliedro)
                                    </td>
                                    <td class="textPoliedro">
                                        @(Model.StatusPoliedro == null ? "N/A" : @Model.StatusPoliedro)
                                    </td>
                                    <td class="textPoliedro">
                                        @(Model.LinkPoliedro == null ? "N/A" : @Model.LinkPoliedro)
                                    </td>
                                    <td>
                                        <button class="btn btn-info Poliedro"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockPoliedro" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>

                            }
                        }


                        @{
                            if (Model.UserMyApps != null || Model.PassMyApps != null | Model.StatusMyApps != null || Model.LinkMyApps != null)
                            {

                                <tr>
                                    <td>
                                        MY APPS
                                    </td>
                                    <td class="textMyApps">
                                        @(Model.UserMyApps == null ? "N/A" : Model.UserMyApps)
                                    </td>
                                    <td class="textMyApps">
                                        @(Model.PassMyApps == null ? "N/A" : Model.PassMyApps)
                                    </td>
                                    <td class="textMyApps">
                                        @(Model.StatusMyApps == null ? "N/A" : @Model.StatusMyApps)
                                    </td>
                                    <td class="textMyApps">
                                        @(Model.LinkMyApps == null ? "N/A" : @Model.LinkMyApps)
                                    </td>
                                    <td>
                                        <button class="btn btn-info MyApps"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockMyApps" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>

                            }
                        }

                        @{
                            if (Model.UserAgendamiento != null || Model.PassAgendamiento != null | Model.StatusAgendamiento != null || Model.LinkAgendamiento != null)
                            {


                                <tr>
                                    <td>
                                        AGENDAMIENTO
                                    </td>
                                    <td class="textAgendamiento">
                                        @(Model.UserAgendamiento == null ? "N/A" : Model.UserAgendamiento)

                                    </td>
                                    <td class="textAgendamiento">
                                        @(Model.PassAgendamiento == null ? "N/A" : Model.PassAgendamiento)

                                    </td>
                                    <td class="textAgendamiento">
                                        @(Model.StatusAgendamiento == null ? "N/A" : @Model.StatusAgendamiento)

                                    </td>
                                    <td class="textAgendamiento">
                                        @(Model.LinkAgendamiento == null ? "N/A" : @Model.LinkAgendamiento)

                                    </td>
                                    <td>
                                        <button class="btn btn-info Agendamiento"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockAgendamiento" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>

                            }
                        }


                        @{
                            if (Model.UserVisor != null || Model.PassVisor != null | Model.StatusVisor != null || Model.LinkVisor != null)
                            {


                                <tr>
                                    <td>
                                        VISOR
                                    </td>
                                    <td class="textVisor">
                                        @(Model.UserVisor == null ? "N/A" : Model.UserVisor)

                                    </td>
                                    <td class="textVisor">
                                        @(Model.PassVisor == null ? "N/A" : Model.PassVisor)

                                    </td>
                                    <td class="textVisor">
                                        @(Model.StatusVisor == null ? "N/A" : @Model.StatusVisor)

                                    </td>
                                    <td class="textVisor">
                                        @(Model.LinkVisor == null ? "N/A" : @Model.LinkVisor)

                                    </td>
                                    <td>
                                        <button class="btn btn-info Visor"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockVisor" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>

                            }
                        }


                        @{
                            if (Model.UserRr != null || Model.PassRr != null | Model.StatusRr != null || Model.LinkRr != null)
                            {


                                <tr>
                                    <td>
                                        RR
                                    </td>
                                    <td class="textRr">
                                        @(Model.UserRr == null ? "N/A" : Model.UserRr)

                                    </td>
                                    <td class="textRr">
                                        @(Model.PassRr == null ? "N/A" : Model.PassRr)

                                    </td>
                                    <td class="textRr">
                                        @(Model.StatusRr == null ? "N/A" : @Model.StatusRr)

                                    </td>
                                    <td class="textRr">
                                        @(Model.LinkRr == null ? "N/A" : @Model.LinkRr)

                                    </td>
                                    <td>
                                        <button class="btn btn-info Rr"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockRr" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>

                            }
                        }


                        @{
                            if (Model.UserMiEnlace != null || Model.PassMiEnlace != null | Model.StatusMiEnlace != null || Model.LinkMiEnlace != null)
                            {


                                <tr>
                                    <td>
                                        MI ENLACE
                                    </td>
                                    <td class="textMiEnlace">
                                        @(Model.UserMiEnlace == null ? "N/A" : Model.UserMiEnlace)

                                    </td>
                                    <td class="textMiEnlace">
                                        @(Model.PassMiEnlace == null ? "N/A" : Model.PassMiEnlace)

                                    </td>
                                    <td class="textMiEnlace">
                                        @(Model.StatusMiEnlace == null ? "N/A" : @Model.StatusMiEnlace)

                                    </td>
                                    <td class="textMiEnlace">
                                        @(Model.LinkMiEnlace == null ? "N/A" : @Model.LinkMiEnlace)

                                    </td>
                                    <td>
                                        <button class="btn btn-info MiEnlace"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockMiEnlace" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>

                            }
                        }

                        @{
                            if (Model.UserEnEnlaceIspira != null || Model.PassEnEnlaceIspira != null | Model.StatusEnEnlaceIspira != null || Model.LinkEnEnlaceIspira != null)
                            {

                                <tr>
                                    <td>
                                        EN ENLACE(Inspira)
                                    </td>
                                    <td class="textEnEnlaceIspira">
                                        @(Model.UserEnEnlaceIspira == null ? "N/A" : Model.UserEnEnlaceIspira)

                                    </td>
                                    <td class="textEnEnlaceIspira">
                                        @(Model.PassEnEnlaceIspira == null ? "N/A" : Model.PassEnEnlaceIspira)

                                    </td>
                                    <td class="textEnEnlaceIspira">
                                        @(Model.StatusEnEnlaceIspira == null ? "N/A" : @Model.StatusEnEnlaceIspira)

                                    </td>
                                    <td class="textEnEnlaceIspira">
                                        @(Model.LinkEnEnlaceIspira == null ? "N/A" : @Model.LinkEnEnlaceIspira)

                                    </td>
                                    <td>
                                        <button class="btn btn-info EnEnlaceIspira"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockEnEnlaceIspira" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>

                            }
                        }

                        @{
                            if (Model.UserMyIt != null || Model.PassMyIt != null | Model.StatusIt != null || Model.LinkIt != null)
                            {


                                <tr>
                                    <td>
                                        MY IT
                                    </td>
                                    <td class="textMyIt">
                                        @(Model.UserMyIt == null ? "N/A" : Model.UserMyIt)

                                    </td>
                                    <td class="textMyIt">
                                        @(Model.PassMyIt == null ? "N/A" : Model.PassMyIt)

                                    </td>
                                    <td class="textMyIt">
                                        @(Model.StatusIt == null ? "N/A" : @Model.StatusIt)

                                    </td>
                                    <td class="textMyIt">
                                        @(Model.LinkIt == null ? "N/A" : @Model.LinkIt)
                                    </td>
                                    <td>
                                        <button class="btn btn-info MyIt"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockMyIt" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>
                            }
                        }

                        @{
                            if (Model.UserPortalSac != null || Model.PassPortalSac != null | Model.StatusPortalSac != null || Model.LinkPortalSac != null)
                            {


                                <tr>
                                    <td>
                                        PORTALSAC
                                    </td>
                                    <td class="textPortalSac">
                                        @(Model.UserPortalSac == null ? "N/A" : Model.UserPortalSac)

                                    </td>
                                    <td class="textPortalSac">
                                        @(Model.PassPortalSac == null ? "N/A" : Model.PassPortalSac)

                                    </td>
                                    <td class="textPortalSac">
                                        @(Model.StatusPortalSac == null ? "N/A" : @Model.StatusPortalSac)

                                    </td>
                                    <td class="textPortalSac">
                                        @(Model.LinkPortalSac == null ? "N/A" : @Model.LinkPortalSac)

                                    </td>
                                    <td>
                                        <button class="btn btn-info PortalSac"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockPortalSac" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>
                            }
                        }



                        @{
                            if (Model.UserDime != null || Model.PassDime != null | Model.StatusDime != null || Model.LinkDime != null)
                            {

                                <tr>
                                    <td>
                                        DIME
                                    </td>
                                    <td class="textDime">
                                        @(Model.UserDime == null ? "N/A" : Model.UserDime)
                                    </td>
                                    <td class="textDime">
                                        @(Model.PassDime == null ? "N/A" : Model.PassDime)

                                    </td>
                                    <td class="textDime">
                                        @(Model.StatusDime == null ? "N/A" : @Model.StatusDime)

                                    </td>
                                    <td class="textDime">
                                        @(Model.LinkDime == null ? "N/A" : @Model.LinkDime)

                                    </td>
                                    <td>
                                        <button class="btn btn-info Dime"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockDime" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>
                            }
                        }

                        @{
                            if (Model.UserIdVision != null || Model.PassIdVision != null | Model.StatusIdVision != null || Model.LinkIdVision != null)
                            {


                                <tr>
                                    <td>
                                        ID VISION
                                    </td>
                                    <td class="textIdVision">
                                        @(Model.UserIdVision == null ? "N/A" : Model.UserIdVision)

                                    </td>
                                    <td class="textIdVision">
                                        @(Model.PassIdVision == null ? "N/A" : Model.PassIdVision)

                                    </td>
                                    <td class="textIdVision">
                                        @(Model.StatusIdVision == null ? "N/A" : @Model.StatusIdVision)

                                    </td>
                                    <td class="textIdVision">
                                        @(Model.LinkIdVision == null ? "N/A" : @Model.LinkIdVision)
                                    </td>
                                    <td>
                                        <button class="btn btn-info IdVision"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockIdVision" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>
                            }
                        }

                        @{
                            if (Model.UserHelpDesk != null || Model.PassHelpDesk != null | Model.StatusHelpDesk != null || Model.LinkHelpDesk != null)
                            {


                                <tr>
                                    <td>
                                        HELPDESK
                                    </td>
                                    <td class="textHelpDesk">
                                        @(Model.UserHelpDesk == null ? "N/A" : Model.UserHelpDesk)

                                    </td>
                                    <td class="textHelpDesk">
                                        @(Model.PassHelpDesk == null ? "N/A" : Model.PassHelpDesk)

                                    </td>
                                    <td class="textHelpDesk">
                                        @(Model.StatusHelpDesk == null ? "N/A" : @Model.StatusHelpDesk)

                                    </td>
                                    <td class="textHelpDesk">
                                        @(Model.LinkHelpDesk == null ? "N/A" : @Model.LinkHelpDesk)
                                    </td>
                                    <td>
                                        <button class="btn btn-info HelpDesk"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockHelpDesk" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>
                            }
                        }



                        @{
                            if (Model.UserTeams != null || Model.PassTeams != null | Model.StatusTeams != null || Model.LinkTeams != null)
                            {

                                <tr>
                                    <td>
                                        TEAMS
                                    </td>
                                    <td class="textTeams">
                                        @(Model.UserTeams == null ? "N/A" : Model.UserTeams)

                                    </td>
                                    <td class="textTeams">
                                        @(Model.PassTeams == null ? "N/A" : Model.PassTeams)

                                    </td>
                                    <td class="textTeams">
                                        @(Model.StatusTeams == null ? "N/A" : @Model.StatusTeams)

                                    </td>
                                    <td class="textTeams">
                                        @(Model.LinkTeams == null ? "N/A" : @Model.LinkTeams)
                                    </td>
                                    <td>
                                        <button class="btn btn-info Teams"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockTeams" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>
                            }
                        }


                        @{
                            if (Model.UserCifin != null || Model.PassCifin != null | Model.StatusCifin != null || Model.LinkCifin != null)
                            {

                                <tr>
                                    <td>
                                        CIFIN
                                    </td>
                                    <td class="textCifin">
                                        @(Model.UserCifin == null ? "N/A" : Model.UserCifin)

                                    </td>
                                    <td class="textCifin">
                                        @(Model.PassCifin == null ? "N/A" : Model.PassCifin)

                                    </td>
                                    <td class="textCifin">
                                        @(Model.StatusCifin == null ? "N/A" : @Model.StatusCifin)

                                    </td>
                                    <td class="textCifin">
                                        @(Model.LinkCifin == null ? "N/A" : @Model.LinkCifin)
                                    </td>
                                    <td>
                                        <button class="btn btn-info Cifin"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockCifin" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>
                            }
                        }


                        @{
                            if (Model.UserEvidenteMaster != null || Model.PassEvidenteMaster != null | Model.StatusEvidenteMaster != null || Model.LinkEvidenteMaster != null)
                            {

                                <tr>
                                    <td>
                                        EVIDENTE MASTER
                                    </td>
                                    <td class="textEvidenteMaster">
                                        @(Model.UserEvidenteMaster == null ? "N/A" : Model.UserEvidenteMaster)

                                    </td>
                                    <td class="textEvidenteMaster">
                                        @(Model.PassEvidenteMaster == null ? "N/A" : Model.PassEvidenteMaster)

                                    </td>
                                    <td class="textEvidenteMaster">
                                        @(Model.StatusEvidenteMaster == null ? "N/A" : @Model.StatusEvidenteMaster)

                                    </td>
                                    <td class="textEvidenteMaster">
                                        @(Model.LinkEvidenteMaster == null ? "N/A" : @Model.LinkEvidenteMaster)
                                    </td>
                                    <td>
                                        <button class="btn btn-info EvidenteMaster"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockEvidenteMaster" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>
                            }
                        }

                        @{
                            if (Model.UserIntegracion != null || Model.PassIntegracion != null | Model.StatusIntegracion != null || Model.LinkIntegracion != null)
                            {

                                <tr>
                                    <td>
                                        INTEGRACIÓN
                                    </td>
                                    <td class="textIntegracion">
                                        @(Model.UserIntegracion == null ? "N/A" : Model.UserIntegracion)

                                    </td>
                                    <td class="textIntegracion">
                                        @(Model.PassIntegracion == null ? "N/A" : Model.PassIntegracion)

                                    </td>
                                    <td class="textIntegracion">
                                        @(Model.StatusIntegracion == null ? "N/A" : @Model.StatusIntegracion)

                                    </td>
                                    <td class="textIntegracion">
                                        @(Model.LinkIntegracion == null ? "N/A" : @Model.LinkIntegracion)
                                    </td>
                                    <td>
                                        <button class="btn btn-info Integracion"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-danger LockIntegracion" value="@Model.Id"><i class="fa fa-lock"></i></button>

                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>



@section scripts {


    <script src="~/Scripts/app/userPasswordScripts.js"></script>

}