﻿﻿@using Core.Models.Security
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">

        <li class="header">Administración</li>


        @if (SessionPersister.HasRol("Administrador"))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Usuarios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=" @if (ViewBag._Active == "Index") { Write("active"); } ">
                        <a href="@Url.Action("Index", "Users")"><i class="fa fa-circle-o"></i>Listar</a>
                    </li>

                </ul>
            </li>
        }

        @if (SessionPersister.HasRol("Administrador"))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cloud-upload"></i> <span>Cargue Contraseñas</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=" @if (ViewBag._Active == "create") { Write("active"); } ">
                        <a href="@Url.Action("Index", "CargueUsuarios")"><i class="fa fa-circle-o"></i>Cargue archivo</a>
                    </li>

                </ul>
            </li>
        }

        @if (SessionPersister.HasRol("Administrador"))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-unlock-alt"></i> <span>Cargue Desbloqueo Aplicativos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=" @if (ViewBag._Active == "create") { Write("active"); } ">
                        <a href="@Url.Action("IndexUnlock", "CargueUsuariosBloqueados")"><i class="fa fa-circle-o"></i>Desbloquear</a>
                    </li>

                </ul>
            </li>
        }



        @if (SessionPersister.HasRol("Administrador"))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-unlock"></i> <span>Cargue Desactivacion usuarios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=" @if (ViewBag._Active == "create") { Write("active"); } ">
                        <a href="@Url.Action("Index", "DesactivacionCargue")"><i class="fa fa-circle-o"></i>Actualización</a>
                    </li>

                </ul>
            </li>
        }


        @if (SessionPersister.HasRol("Administrador"))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-upload"></i> <span>Cargue Estado Trámite</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=" @if (ViewBag._Active == "create") { Write("active"); } ">
                        <a href="@Url.Action("Index", "CargueEstadoTramites")"><i class="fa fa-circle-o"></i>Cargue archivo</a>
                    </li>

                </ul>
            </li>
        }

        @if (SessionPersister.HasRol("Administrador"))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-vcard"></i> <span>Trámite Apps Bloqueadas</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=" @if (ViewBag._Active == "create") { Write("active"); } ">
                        <a href="@Url.Action("Index", "EstadoTramites")"><i class="fa fa-circle-o"></i>Listar</a>
                    </li>

                </ul>
            </li>
        }



        @if (SessionPersister.HasRol("Administrador"))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-wrench"></i> <span>Resetear Contraseñas</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=" @if (ViewBag._Active == "create") { Write("active"); } ">
                        <a href="@Url.Action("ResetearPassword", "Accounts")"><i class="fa fa-circle-o"></i>Resetear</a>
                    </li>

                </ul>
            </li>
        }

        @if (SessionPersister.HasRol("Administrador") || SessionPersister.HasRol("Gerente"))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa  fa-book"></i> <span>Rep. Online x Campaña</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=" @if (ViewBag._Active == "create") { Write("active"); } ">
                        <a href="http://172.16.5.153/Reports/Pages/Report.aspx?ItemPath=%2fReportesAplicativos%2fP_ReporteAppUsuarioPorCampana&ViewMode=Detail" target="_blank"><i class="fa fa-circle-o"></i>Ver Reporte</a>
                    </li>

                </ul>
            </li>
        }

        @if (SessionPersister.HasRol("Administrador"))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>Estados Usuario</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=" @if (ViewBag._Active == "create") { Write("active"); } ">
                        <a href="@Url.Action("ReturnStatusUserApp", "AsignacionAplicativos")"><i class="fa fa-circle-o"></i>Ver</a>
                    </li>

                </ul>
            </li>
        }


        @if (SessionPersister.Id != null)
        {
            <li class="">
                <a href="@Url.Action("Logout", "Accounts", null)">
                    <i class="fa fa-sign-out"></i>
                    <span>Cerrar sesión</span>
                </a>
            </li>
        }
    </ul>