﻿
.skin-green-light .main-header .navbar, .skin-green-light .main-header .logo:hover, .skin-green-light .main-header .logo {
    /*background-color: rgba(0,99,65,1);*/
    color: inherit;
}
.oc {
    opacity:0 !important;
}