﻿@model ClaroGrandesSuperficies.Models.AdministracionUsuariosApp.AsignacionAplicativosUsuario



<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Cambiar Contraseña App</h3>
                        </div>
                        <div class="card-body">

                            @using (Html.BeginForm("ResetAccount", "AsignacionAplicativos", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <label>Usuario</label>
                                    @Html.EditorFor(model => model.AplicativoUsuario.NombreApp, new { htmlAttributes = new { @class = "form-control form-control-lg rounded-0", @readonly = "readonly" } })


                                </div>

                                <div class="form-group">
                                    <label>Nueva Contraseña</label>
                                    @Html.PasswordFor(model => model.ClaveAplicativo, new { @class = "form-control form-control-lg rounded-0 login", @data_tipo = "password", @required = "required", @data_nombre = "Nueva Contraseña" })
                                </div>
                                <div class="form-group">
                                    <label>Confirmar Contraseña</label>
                                    <input type="password" name="confirmPassword" class="form-control form-control-lg rounded-0 login" required data-tipo="texto" data-nombre="Confirmar Contraseña" />
                                </div>

                                <button type="submit" class="btn btn-primary btn-block" id="btnResetPass">Guardar</button>


                            }
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>

            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->


<script>


    $("body").on('click', '#btnResetPass', function () {


        $('input, .login').parent('.form-group').find('.alert-danger').remove();
        b_validacion = true;
        primerElementoG = 1;
        $('input, .login').each(void_validaCampo)

        if (!b_validacion) { return false }



    })


    $("body").on('input', '.login', function () {

        $(this).parent('.form-group').find('.alert-danger').remove();
        b_validacion = true;
        primerElementoG = 1;
        $(this).each(void_validaCampo)

        if (!b_validacion) { return false }

    })

</script>

