﻿@*@model IEnumerable<ClaroGrandesSuperficies.Models.AdministracionUsuariosApp.AsignacionAplicativosUsuario>*@

@model IEnumerable<ClaroGrandesSuperficies.Viewmodel.UsuarioVM>
@using ClaroGrandesSuperficies.Constantes;

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
    string ipUsuario = ViewBag.IpPrueba;
}

<style>

    thead {
        background-color: #222d32;
        color: white;
    }



    .table {
        height: 450px;
        border-collapse: collapse;
    }

    table tr td {
        width: 1%;
        white-space: nowrap;
    }

    table th {
        text-align: center;
    }
</style>


<div class="box box-danger">

    <div class="box-header with-border text-center">
        <h2 class="box-title">Lista de Aplicativos con Usuario y Contraseña</h2>
    </div>
    <div class="box-body">
        <div class="container-fluid">
            <div class="row">

                @if (TempData["Message"] != null)
                {
                    var total = (int)TempData["Message"];
                    var mensaje = "El usuario posee " + total + " aplicativos bloqueados.";
                    if (total <= 0)
                    {
                        <div class="alert alert-success  alert-dismissible" role="alert">
                            @mensaje
                            @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>*@
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning  alert-dismissible" role="alert">
                            @mensaje
                            @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>*@
                        </div>
                    }

                }
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Documento
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Nombre Aplicativo
                            </th>
                            <th>
                                Usuario App
                            </th>
                            <th>
                                Clave Aplicativo
                            </th>
                            <th>
                                Estado Aplicativo
                            </th>
                            <th>
                                Estado Trámite
                            </th>
                            <th>
                                Link Aplicativo
                            </th>
                            @*<th>
                                    Logueo Automático
                                </th>*@
                            <th>
                                Fecha ultimo bloqueo
                            </th>
                            <th>
                                Fecha ultima activación
                            </th>
                            <th>Reportar como Bloqueado</th>
                            <th>Cambiar Contraseña App</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            var estado = item.EstadoAplicativo == false ? "Inactivo" : "Activo";
                            var colorEstado = item.EstadoAplicativo == false ? "red" : "";
                            var campanaOcultar = "C167 - CLARO COLOMBIA RETENCION TERCER ANILLO";


                            <tr id="@item.Id">

                                <td>
                                    @Html.DisplayFor(modelItem => item.Documento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Names)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreApp)
                                </td>
                                @if ((   item.Campana.Trim() != "C167 - CLARO COLOMBIA RETENCION TERCER ANILLO"
                                      && item.Campana.Trim() != "C160 - CLARO COLOMBIA RETENCION SEGUNDO ANILLO (HOGAR Y MOVIL)"
                                      && item.Campana.Trim() != "C163 - CLARO COLOMBIA LEALTAD"
                                    //&& item.Campana.Trim() != "C159 - CLARO COLOMBIA TRAFICO INBOUND *611"
                                    //&& item.Campana.Trim() != "C162 - CLARO COLOMBIA GESTION PROACTIVA - FIDELIZACION"
                                    ) || ( ipUsuario.Contains("10.206.183") || ipUsuario.Contains("10.206.174") || ipUsuario.Contains("10.206.175") || ipUsuario.Contains("10.150.66"))
                                    )
                                {
                                    <td class="hideText" id="@("usuario_" + item.Id)">
                                        @Html.DisplayFor(modelItem => item.UsuarioAplicativo)
                                    </td>
                                    <td class="hideText" id="@("clave_" + item.Id)">
                                        @Html.DisplayFor(modelItem => item.ClaveAplicativo)
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        
                                    </td>
                                    <td>
                                       
                                    </td>
                                }

                                <td style="background-color: @colorEstado">
                                    @estado
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreEstadoTramite)
                                </td>
                                <td>
                                    <a href="@item.Link" target="_blank">Ver</a>
                                </td>
                                @*<td>
                                        @if (!string.IsNullOrEmpty(item.UsuarioAplicativo) && !string.IsNullOrEmpty(item.ClaveAplicativo) && !string.IsNullOrEmpty(item.Link) && item.IdAplicativo != AplicativosSelenium.PORTALSAC && item.IdAplicativo != AplicativosSelenium.ASCARD && item.IdAplicativo != AplicativosSelenium.SSFF && item.IdAplicativo != AplicativosSelenium.MY_APPS)
                                        {

                                            @Html.ActionLink("Logueo Automático", "LogueoAutomatico", "AsignacionAplicativos", new { UsuarioApp = item.UsuarioAplicativo, ClaveApp = item.ClaveAplicativo, LinkAplicativo = item.Link, IdAplicativo = item.IdAplicativo }, new { @class = "btn btn-success" })
                                        }


                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaReporteBloqueoApp)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaDesbloqueoApp)

                                </td>

                                <td>
                                    <button type="button" class="btn btn-danger btn_App" data-toggle="modal" data-target="#tipificacion" value="@item.Id"><i class="fa fa-lock"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-info change" data-toggle="modal" data-target="#exampleModal" value="@item.Id"><i class="fa fa-pencil"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambiar Contraseña App</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">

                        <div class="card-body box box-danger">
                            <div class="form-group">
                                <label>Usuario App</label>
                                <input type="text" name="UsuarioAplicativo" id="UsuarioAplicativo" class="form-control form-control-lg rounded-0 login" required data-tipo="texto" readonly />
                            </div>

                            <div class="form-group">
                                <label>Nueva Contraseña</label>
                                <input type="password" name="password" id="password" class="form-control form-control-lg rounded-0 pass" required data-tipo="texto" data-nombre="Nueva Contraseña" />
                            </div>
                            <div class="form-group">
                                <label>Confirmar Contraseña</label>
                                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control form-control-lg rounded-0 pass" required data-tipo="texto" data-nombre="Confirmar Contraseña" />
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrar" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnCambiarContraseñaApp">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="tipificacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleccione el motivo de Bloqueo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<select id="slt-tipificacion" class="form-control"></select>*@
                @Html.DropDownList("tipificacion", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
                <label id="errorTipificacion"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary Lock">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/app/asignacionAplicativo.js"></script>

}