﻿
@model IEnumerable<ClaroGrandesSuperficies.Viewmodel.StatusUserAppViewModel>


<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listado de Aplicativos bloqueados y desbloqueados por usuario</h3>
    </div>


    <div class="box-body">

        @using (Html.BeginForm("ReturnStatusUserApp", "AsignacionAplicativos", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-12">
                    <div style="align-items: center" class="row">
                        <div class="col-sm-12 col-md-4">
                            <label>Documento</label>
                            <input type="text" class="col form-control" placeholder="Ingrese el documento" required name="document" id="document" />
                        </div>

                        <div class="col-sm-12 col-md-4" style="margin-top: auto; padding-bottom: 0px;">
                            <button class="btn btn-success center-block">Buscar</button>
                        </div>

                    </div>

                </div>

            </div>

        }
    </div>
</div>




<div class="box box-danger">
    <div class="box-header with-border">
        <p class="input-group-addon alert "><b><h3>Datos de los aplicativos</h3></b> </p>
    </div>
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">

                <div class="row box-header with-border">

                    <label style="cursor: pointer;"><b style=" color: #00a65a;">Total Registros:</b> @ViewBag.TotalRegistros</label> 

                </div>

                <table id="tabla" class="table table-bordered table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>
                                Campaña
                            </th>
                            <th>
                                Documento
                            </th>
                            <th>
                                Nombre Completo
                            </th>
                            <th>
                                Estado Aplicativo
                            </th>
                            <th>
                                Estado Trámite
                            </th>
                            <th>
                                Observación del estado trámite
                            </th>
                            <th>
                                Nombre de aplicativo
                            </th>
                            <th>
                                Usuario Aplicativo
                            </th>
                            <th>
                                Observaciones Aplicativo
                            </th>
                            <th>
                                Fecha de bloqueo
                            </th>
                            <th>
                                Tipificación
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Campaña)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Documento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EstadoAplicativo)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EstadoTrámite)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ObservaciónEstadoTrámite)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreAplicativo)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UsuarioAplicativo)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ObservacionesAplicativo)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaDeBloqueo)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipificación)

                                </td>


                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

